body{

  /* background-image: url("black"); */
/*   background-color: white; */
/*   background-image: url("https://orig00.deviantart.net/2624/f/2018/286/b/4/untitled_drawing_by_bekycrystal-dcpd9fa.png"); */
  background-image: url("c.png");
  background-size: cover;
}
#body {
height: 100%;
width: 100%;
}
html{
    width:100%;
    height:100%;
}
/* pictures */
  /* var(unigo)=
  var(college board)= */
  /* the navigation board */
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: fixed;
  }
  ul li{
  float: left;
  width: 220px;
  height:35px;
  background-color: white;
  color: black;
  opacity: .8;
  line-height: 13px;
  text-align: center;
  font-size: 19px;
  margin-right: 2px;
  margin-bottom: 10px;
  border-top: 2px;
  /* border-radius: 50px; */

  }
  /* HOw it looks */
  ul li a{
    text-decoration: none;
    color: black;
    display: block;
    width:100%;
    height:100%;

  }
  /* when mouse is over a button */
  ul li a:hover{
    background-color: orange;
  }
ul li ul li{
  display: none;
  margin-top: 3px;
}
ul li:hover ul li{
  display:block;
}
img{
  width: 450px;
  height: 500px;
}
h1{
  /* background-image: url("download.jpg"); */
  text-align: center;
  color: white;
  font-size: 100px;
  font-style: italic;
  font-display: swap;
margin-top: auto;
  }

h2{
  text-align:center;
  font-style: italic;
  font-size: 30px;
  color: white;
background-color: black;


  }

h3{
  font-size: 30px;
  color:black;
  margin-right: auto;
  text-align: center;
  font-style: oblique;
 font-weight: bolder;
 font-family: sans-serif;
  /* text-shadow: .9; */
  }

  h4{
    font-size: 30px;
    color: white;
    margin-right: center;
    background-color: black;
    font-style: italic;
    text-align: center;
   

    }
  h5{
    font-size: 27px;
    color: black;
    margin: center;
    text-align: center;
    /* background-color: black; */
    font-style: italic;
/*       background-color: white; */

    }
    h6{
      font-size: 27px;
      color: white;
      margin: center;
      text-align: center;
      /* background-color: black; */
      font-style: italic;
/*         background-color: white; */

      }



img{
  margin:center;
  height: 300px;
}
/* creates button */
.button {
    background-color: white; /* white */
    text-decoration: none;
    border: 10px;
    color: black;
    padding: 5px 5px;
    margin: 0px;
    text-decoration: none;
    text-align: right;
    text-decoration-color: black;
    display: inline-block;
    font-size: 15px;
    margin-top: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


}
.button:hover{
  background-color: white; /* white */
      color: black;
}

div2{
  /* display: flex; */
  /* justify-content: flex-end; */

}
.button2 {
    background-color: white; /* #326479 */
    opacity: .8;

    display: block;


    /* float: right; */
    transform-origin: right;
    border: white;
    color: black;
    /* border-radius: 50px; */
    padding: 10px 10px;
    text-align: center;
    text-decoration-color: black;
    font-size: 15px;
    background-size: cover;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    right
}
.button2:hover {
  background-color: black; /* white */
      color: black;
}

.ad-left {
  float: left;
}

.ad-right {
  float: right;
  margin-left: 10px;
}

.entire-thing {
  width: 1200px;
}
